$forth-color: #20508F;
$primary-color: cadetblue;
$secondary-color: #EDEDED;
$third-color:#21A187;

.wrapper{
    display: flex;
    flex-direction: column;
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        
        .title{
            font-weight: bold;
            color: $third-color;
        }
        .switch{
            color: $primary-color;
            font-size: .8rem;
        }
        
    }
    .noContent{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 5rem;
        color: #999;
    }
    .btnBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .nextBtn{
            background-color: $third-color;
            color: whitesmoke;
        }
        .perBtn{
            background-color: $forth-color;
            color: whitesmoke;
        }
    }
    
    .AnswerItem{
        overflow: hidden;
        text-overflow: ellipsis;
        
        margin: .4rem .1rem;
        padding: .5rem;
        background-color: #fff; /* 盒子背景色 */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px -4px 8px rgba(0, 0, 0, 0.2);
        .AnswerItem_Top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #969696;
            .left{
                display: flex;
                flex-direction: row;
                align-items: center;
                Image{
                    width: 1.7rem;
                    height: 1.7rem;
                    border-radius: 50%;
                    margin-right: .5rem;
                }
            }
            
        }
        .content{
            min-height: 15rem;
            padding: .3rem;
            padding-top: .5rem;
            line-height: 1.5rem;
        }
    }
}