$forth-color: #20508F;
$primary-color: cadetblue;
$secondary-color: #EDEDED;
$third-color:#21A187;

.wrapper{
    display: flex;
    width: 100%;
    .header{
        display: flex;
        flex-direction: column;
        padding: .8rem;
        width: 100%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        .title{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .desc{
            margin-top: .3rem;
            font-size: 1rem;
        }
        .topics{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: .5rem;
            font-size: .4rem;
            color: #777;
            View{
                text-align: center;
                width: 2.6rem;
                line-height: 1.5rem;
                height: 1.5rem;
                border: .4px solid $third-color;
                border-radius: 1rem;
            }
        }
        .box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 1.2rem 0;
            .g_and_p{
                display: flex;
                flex-direction: row;
                
                View{
                    margin: .2rem;
                }
            }
            .writeAnswer{
                width: 5rem;
                height: 2rem;
                color: $third-color; 
                background-color: transparent; 
                border: .11rem solid $third-color; 
                border-radius: .3rem; /* 圆角半径为 4px */
                font-size: .7rem; /* 字体大小为 16px */
                cursor: pointer;
                &:hover {
                    background-color: $third-color;
                    color: $secondary-color;
                  }
                  &:active {
                    background-color: $third-color;
                  }
            }
        }
    }
}