.wrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    .top{
        position: sticky;
        top: 0;
        background-color: white; 
        z-index: 999;
    }
}