$forth-color: #20508F;
$primary-color: cadetblue;
$secondary-color: #EDEDED;
$third-color:#21A187;


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
    .mid{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .topicBox{
            display: inline-block;
            position: relative;
            display: flex;
            margin-left: .5rem;
            justify-content: center;
            align-items: center;
            width: 3rem;
            color: #969696;
            font-size: .5rem;
            border: none;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }
}
