.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    Input{
        background-color: #dfdbdb;
        padding: 0.3rem;
        width: 70%;
        display: flex;
        justify-content: flex-start;
    }
    .searchBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
    }
}