$forth-color: #20508F;
$primary-color: cadetblue;
$secondary-color: #EDEDED;
$third-color:#21A187;

.wrapper{
    .addBtn{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        font-size: .8rem;
        background-color: $forth-color;
    }
    .questionWrapper{
        display: flex;
        flex-direction: column;
        .tagBox{
            display: flex;
            flex-direction: row;
            padding: 0.3rem;
            .tag{
                margin: .2rem;
            }
        }
        
    }
    .qbtn{
        background-color: $third-color;
        margin-top: 2rem;
    }
    
}