$forth-color: #20508F;
$primary-color: cadetblue;
$secondary-color: #EDEDED;
$third-color:#21A187;

.wrapper{
    display: flex;
    .addBtn{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        font-size: .8rem;
        background-color: $forth-color;
    }
    .questionWrapper{
        display: flex;
        flex-direction: column;
        .questionInput{
            width: 90%;
            border: none;
            // border-bottom: .1rem solid #21A187;
            padding: .4rem;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .questionTextarea{
            width: 90%;
            border-radius: .5rem;
            // border: .1rem solid #21A187;
            padding: .5rem;
            margin-top: .4rem;
        }
        .tagBox{
            display: flex;
            flex-direction: row;
            padding: 0.3rem;
            .tag{
                margin: .2rem;
                position: relative;
                .tagIcon{
                    position: absolute;
                    // z-index: 9999;
                    right: 0.05rem;
                    top: -0.2rem;
                }
            }
        }
        
    }
    .qbtn{
        background-color: $third-color;
        margin-top: 2rem;
    }
    
}