$forth-color: #20508F;
$primary-color: cadetblue;
$secondary-color: #EDEDED;
$third-color:#21A187;
$contentBox-background: linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%);
$contentBox-padding: 1rem;

.wrapper{
    display: flex;
    flex-direction: column;
    
    .item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1rem;
        padding: 1rem;
        border-radius: .4rem;
        align-items: center;
        background-color: rgba(150, 150, 150, 0.1);
        .name{
            color: black;
            margin-bottom: .2rem;
        }
        .desc{
            color: #333;
            font-size: .8rem;
        }
        .imgBox{
            width: 6rem;
            height: 6rem;
            background-color: white;
            margin-right: 1rem;
            border-radius: 1rem;
            flex-shrink: 0;
            overflow: hidden;
            image{
                width: 6rem;
                max-height: 6rem;
            }
        }
        
        .content{
            flex-shrink: 1;
        }
    }
    .more{
        background-color: $third-color;
        color: whitesmoke;
    }
}